{% extends "base.html.twig" %}
{% block body %}

<h3>
  Heading
  <small class="text-body-secondary">with faded secondary text</small>
</h3>

<button type="button" class="btn btn-primary">Primary</button>

{% endblock %}